body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 2em;
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}

ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px, 16px;
    text-align: center;

}

ul li a:hover {
    background-color: violet;
    color: bisque;
}

.work {
    text-decoration: none;
    background-color: none;
}

#my-image {
    float: left;
    border-radius: 4px;
    box-shadow: 0;
    
}

.main-p, .main-header {
    text-align: right;
    word-wrap: normal;
}

.about {
    padding: 1em;
    overflow: hidden;
}

.extra {
    float: right;
    padding: 1em;
    overflow: hidden;
}

.site-title {
    margin: auto;
    padding: 2ch 0 0;
    text-align: center;
    color: white;

}

.table-style {
    padding: 1em;
    margin: 0;
}

header, footer {
    background-color:black;
    padding: 2ch;
    color: white;
}

blockquote, cite {
    padding: 1rem;
}