body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 2;
    padding: 2;
    display: flex;
    background-color: blueviolet;
    overflow: hidden;
}

ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px, 18px;
    text-align: center;

}

ul li a:hover {
    background-color: violet;
    color: bisque;
}

.work {
    text-decoration: none;
    background-color: none;
}

#my-image {
    float: left;
}

.about {
    float: right;
}

.extra {
    float: right;
}

.title-site {
    background-color: #8dc63f;
    color: black;
    margin: auto;
    padding: 0ch;
}

/* trying to get it on the right side of website  */

.nav-right {
    float: right;
}