body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b8e4d6;
}

.hero-image {
  background-image: url('../images/photo-banner.jpg');
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-logo {
  text-align: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  height: auto;
}

.nav-main {
  text-decoration: none;
  padding: 2em;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

 ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
 }

ul li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;

}

ul li a:hover {
    background-color: #fd8151;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
  background-color: #d66436;
  color: white;
  padding: 1em;
  margin-top: 1em;
  text-align: right;
}