body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-image {
  background-image: url('../images/photo-banner.jpg');
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-logo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  height: auto;
}

.nav-main {
  text-decoration: none;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

ul li a {
    display: block;
    list-style-type: none;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;

}

ul li a:hover {
    background-color: #d66436;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

footer {
  background-color: #82bcaa;
  color: white;
  padding: 1em;
  margin-top: 1em;
  text-align: right;
}