body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
  text-align: center;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  width: 100px;
  border-right: 1px solid #d76336;
  font-size: 2em;
  padding-top: 10px;
  text-decoration: none;
}

nav ul li:last-child {
  border-right: none;
}

footer {
  text-align: right;
  background-color: #d76336;
  color: white;
  padding: 10px
}
