/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font family on HTML */

html {
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.4;
}

/* font sizes for mobile */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
}

/* navigation */
nav {
  background-color: #222;
  padding: 0.5rem 0;
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  padding: 1rem;
}

nav ul a {
  text-decoration: none;
  color: #c78c06;
  padding: 1rem;
}

/* navigation styles on hover and focus */
nav ul a:hover,
nav ul a:focus {
  background-color: #c78c06;
  color: #222;
}

.icon {
  padding: 1rem;
}

.search-area {
  margin-top: 60px;
}

.search-container input [type="text"] {
  float: right;
  padding: 8px;
  border: 1px solid #c78c06;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 18px;
}

.search-button {
  background-color: #222;
  color: #c78c06;
  border: 1px solid #c78c06;
}

/* welcome wrapper */
.wrapper {
  background-image: url("../images/main-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem;
}

.wrapContent {
  margin: 40px;
  opacity: 0.75;
  background-color: #222;
  color: #fff;
  padding: 2rem;
}

.connect-button {
  background-color: #c78c06;
  opacity: none;
  color: #222;
  margin: 10px;
  opacity: 100%;
  padding: 15px;
}

.wrapContent h1 {
  font-weight: 750;
}

/* about us section */

.about-container {
  flex-direction: column;
  background-color: #ffe6ac;
}

.about-content {
  text-align: left;
  max-width: 1200px;
}

.about-img {
  width: 100%;
  margin: 10px;
  height: auto;
}

.about-content p {
  padding: 0.5rem;
}

.about-h2 {
  font-weight: 700;
}

/* Our Services */

.service-container {
  display: block;
  margin: 30px 10px;
  padding-bottom: 20px;
}

.service-head {
  font-weight: 800;
  display: grid;
  grid-column: 1 / -1;
}

.cards {
  background-color: #ffe6ac;
}

.h3-serve {
  font-weight: 800;
  margin-left: 10px;
  font-size: xx-large;
}

.service-container p {
  margin: 10px;
}

.carddig img {
  width: 100%;
}

.cardmark img {
  width: 100%;
}

.cardvid img {
  width: 100%;
}

.cardweb img {
  width: 100%;
}

.cardprint img {
  width: 100%;
}

.service-button {
  padding: 1rem;
  margin: 20px;
  background-color: #222;
  color: #fff;
  font-size: large;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 34;
}

.service-button:hover {
  background-color: #c78c06;
  color: #222;
}

/* Our Vision */

.vision-banner {
  background-image: url("../images/vision.jpg");
  background-position: center;
  padding: 1rem;
  margin-top: 20px;
  color: #f6f8fb;
  background-repeat: no-repeat;
  background-size: cover;
}

.vision-h3 {
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 50px;
  font-size: x-large;
}

.vision-p {
  margin-left: 50px;
}

.vision-button {
  margin-top: 20px;
  margin-left: 50px;
  padding: 1.5rem;
  font-size: larger;
  background-color: #0c1f36;
  border: 1px solid #c78c06;
  color: #fff;
}

/* Our Team */

.team-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header"
    "johnImg"
    "johnCon"
    "bobImg"
    "bobCon";
}

.img-bob {
  grid-area: bobImg;
}

.bob-content {
  padding: 20px;
  background-color: #ffe6ac;
  grid-area: bobCon;
}

.john-content {
  background-color: #ffe6ac;
  grid-area: johnCon;
  padding: 20px;
}

.img-john img {
  grid-area: johnImg;
}

.team-header {
  font-weight: 700;
  margin-left: 20px;
  grid-area: header;
}

.img-john img {
  width: 100%;
}

.img-bob img {
  width: 100%;
}

hr {
  color: #c78c06;
  border-color: #c78c06;
}

.john-content h3 {
  font-weight: 700;
}

.john-content h4 {
  font-weight: 500;
}

.team-john {
  margin-bottom: 10px;
}

.team-bob {
  margin-bottom: 10px;
}

.bob-content h3 {
  font-weight: 700;
}

.bob-content h4 {
  font-weight: 500;
}

/* Contact Us */

.Contact-container {
  display: block;
}

.contact-h2 {
  font-weight: 700;
  font-size: xx-large;
  margin-left: 30px;
}

.responsive-form {
  display: block;
  max-width: 600px;
  width: 100%;
  border-radius: 4px;
  margin-left: 35px;
}

label {
  min-width: 50%;
  margin-bottom: 10px;
}

textarea {
  min-width: 50%;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

input[type="send"] {
  width: 50%;
  padding: 1px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.responsive-form h3 {
  font-weight: 800;
  font-size: x-large;
}

.button-send {
  background-color: #222;
  color: #c78c06;
  font-size: larger;
}

.button-send:hover {
  background-color: #c78c06;
  color: #222;
}

/* Hours of Operation */

.HoursInfo {
  margin: 60px;
}

.caption-h3 {
  font-weight: 800;
  font-size: x-large;
}

table,
tr,
td,
th {
  border: 1px solid #222;
}

table {
  width: 100%;
}

th {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #ffe6ac;
}

td {
  padding: 1rem;
  text-align: center;
}

/* location */
.locationInfo {
  display: block;
  width: 100%;
}

.locationInfo h2 {
  font-size: xx-large;
  font-weight: 700;
}

/* footer */

footer {
  background-color: #222;
  color: #c78c06;
  padding: 1rem;
  font-size: 0.25rem;
  padding: 35px;
}

/* styles for screens 760px and over */
@media screen and (min-width: 760px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 0.85rem;
  }

  /* navigation direction control */
  nav ul {
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    padding: 5px;
  }

  .icon {
    padding-left: 60px;
  }

  .search-container input [type="text"] {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  /* about */

  .about-img img {
    display: grid;
    padding: 20px;
    width: 500px;
    margin-left: 40px;
  }

  .about-content {
    display: grid;
    padding-right: 10px;
    margin-right: 40px;
  }

  .about-content p {
    padding: 0.5rem;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 100px;
  }

  /*  service grid grows  */

  .service-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin: 1rem 4rem;
    padding-bottom: 10px;
    gap: 1rem;
  }

  .carddig {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .cardmark {
    grid-column: 4 / span 3;
    grid-row: 1;
  }

  .cardvid {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .cardweb {
    grid-column: 3 / span 2;
    grid-row: 2;
  }

  .cardprint {
    grid-column: 5 / span 2;
    grid-row: 2;
  }

  .service-head {
    display: grid;
    grid-column: 1 / -1;
    grid-row: -3;
  }

  /* team */

  .team-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header"
    "johnImg johnImg johnCon johnCon"
    "bobCon bonCon bobImg bobImg";
  }

  /* contact form */
  label,
  input[type="text"],
  input[type="send"],
  select,
  textarea {
    flex: 100%;
    min-width: 100%;
  }
}
